body{
    background-color: #f4f4f4;
}

.color-grid{
    display: flex;
    justify-content: space-around;
}

.color-box{
    width: 100vw;
    height: 30vh;
    border-radius: 10px;
    margin: 50px;
}

.color1{
    background-color: #51ff00d0;
}

.color2{
    background-color: rgb(191, 0, 255);
}

.color3{
    background-color: orange;
}

.color4{
    background-color: hsl(133, 29%, 30%);
}

.color5{
    background-color: red;
}